.main{
    display:flex;
    justify-content:space-between;
    width:500px;
    height:400px;
    padding:10px;
    border:1px solid black;
    background:	#87CEEB;
    margin:100px 100px;
}

.m1{
    
    padding:20px;
    border:1px solid green;
    background:blue;
    color:white;
}
